<router-outlet></router-outlet>
<h1 style="text-align: center; margin: 50px 0px">Table of products</h1>

<nz-table #dummyTable [nzData]="productsList">
  <thead>
    <tr>
      <th [nzAlign]="'center'" nzWidth="100px"></th>
      <th
        *ngFor="let column of columns"
        [nzAlign]="column.alignment"
        [nzWidth]="column.columnWidth"
      ></th>
      <!-- <th [nzAlign]="'center'">STT</th>
      <th [nzAlign]="'center'" nzWidth="100px">Tên sản phẩm</th>
      <th [nzAlign]="'center'">Thương hiệu</th>
      <th [nzAlign]="'center'" nzWidth="300px">Mô tả</th>
      <th [nzAlign]="'center'">Loại</th>
      <th nzAlign="center">Giá</th>
      <th [nzAlign]="'center'">Đánh giá</th>
      <th [nzAlign]="'center'">Tồn kho</th>
      <th [nzAlign]="'center'">Giảm giá</th>
      <th [nzAlign]="'center'">Ảnh mẫu</th> -->
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of dummyTable.data; let i = index">
      <tr>
        <td
          [nzExpand]="expandSet.has(product.id)"
          (nzExpandChange)="onExpandChange(product.id, $event)"
        ></td>
        <td [nzAlign]="'center'">{{ i + 1 }}</td>
        <td [nzAlign]="'center'">{{ product.title }}</td>
        <td [nzAlign]="'center'">{{ product.brand }}</td>
        <td [nzAlign]="'center'">{{ product.description }}</td>
        <td [nzAlign]="'center'">{{ product.category }}</td>
        <td [nzAlign]="'center'">{{ product.price | currency }}</td>
        <td [nzAlign]="'center'">{{ product.rating }}</td>
        <td [nzAlign]="'center'">{{ product.stock }}</td>
        <td [nzAlign]="'center'">{{ product.discountPercentage + "%" }}</td>
        <td [nzAlign]="'center'">
          <img src="{{ product.thumbnail }}" alt="" />
        </td>
      </tr>
      <tr id="expandImg" [nzExpand]="expandSet.has(product.id)">
        <ng-container *ngFor="let image of product.images">
          <img src="{{ image }}" alt="" />
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
